*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 2%;
   
    
}
.form-data{
    border: 2px solid grey;
    border-radius: 4px;
    padding:5px;
    width: 40%;
}
.PersonalInfo,.Skills,.Languages,.About,.Experience,.Education{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 30px;  
}
textarea{
    margin: 4px;
    width: 480px;
    height: 85px;
}
input{
    width:480px;
    height: 30px;
    margin: 2px;
    margin-top: 5px;
    padding-left: 8px;
   }
label{
    font-size: 20px;
}
h2{
    background-color: gray  ;
}
.Education{
    margin-bottom: 30px;
}
.btnDiv{
    text-align: center;  
   input{
    width:130px;
    font-size: 15px;
    border-radius: 3px;
   
   &:hover{
    background-color: gray;
   }
}
}

@media (max-width:786px){
    .form-data{
        border: 2px solid grey;
        border-radius: 4px;
    
        padding:5px;
        width: 100%;
    }

}